{% extends 'base.html.twig' %}

{% block title %}PORTFOLIO{% endblock %}

{% block body %}
<section>
    <h1 class="titre-port">PORTFOLIO</h1>
    <p class="p-port">Pour ouvrir une galerie photos, veuillez-vous s’inscrire ou vous connecter. Si vous ne voyez pas encore vos photos, pas d’inquiétude, je travaille dessus et je vous contacterai dès qu’elles    
    seront disponibles.</p>

    <div class="container">
        <div class="heading">
            <h3>Photo <span>gallery</span></h3>
        </div>
        <div class="box">
            <div class="dream">
                <img src="../assets/uploads/img/anaistony.jpg" alt="photos de la gallerie" />
                <img src="../assets/uploads/img/bouquet.jpg" alt="photos de la gallerie" />
                <img src="../assets/uploads/img/cindyarthur.jpg" alt="photos de la gallerie" />
                <img src="../assets/uploads/img/couple.jpg" alt="photos de la gallerie" />
                <img src="../assets/uploads/img/elodiecyril.jpg" alt="photos de la gallerie" />
                <img src="../assets/uploads/img/chewy.jpg" alt="photos de la gallerie" />
            </div>
            <div class="dream">
                <img src="../assets/uploads/img/Allef.jpg" alt="photos de la gallerie"/>
                <img src="../assets/uploads/img/elodiecyril.jpg" alt="photos de la gallerie"/>
                <img src="../assets/uploads/img/famille.jpg" alt="photos de la gallerie"/>
                <img src="../assets/uploads/img/family.jpg" alt="photos de la gallerie"/>
                <img src="../assets/uploads/img/jeanneluka.jpg" alt="photos de la gallerie"/>
                <img src="../assets/uploads/img/morganflorian.jpg" alt="photos de la gallerie"/>
            </div>
            <div class="dream">
                <img src="../assets/uploads/img/jonathan.jpg" alt="photos de la gallerie"/>
                <img src="../assets/uploads/img/daiga.jpg" alt="photos de la gallerie"/>
                <img src="../assets/uploads/img/nathan.jpg" alt="photos de la gallerie"/>
                <img src="../assets/uploads/img/cdc.jpg" alt="photos de la gallerie"/>
                <img src="../assets/uploads/img/kelly.jpg" alt="photos de la gallerie"/>
                <img src="../assets/uploads/img/jessica.jpg" alt="photos de la gallerie"/>
            </div>
        </div>
    </div>
</section>
{% endblock %}