{% extends 'base.html.twig' %}
{% block title %}A PROPOS{% endblock %}

{% block body %}
<div>
            <div class="container">
                <h1 class="qui_suis_je">QUI SUIS-JE ?</h1>
                <img src="../assets/uploads/mon_logo.jpg" title="logo" alt="logo" width="200" class="mon_logo"/>
                <div class="box">
                    <div class="contentBis">
                        <h3 class="titre_apropos">PRÉSENTATION</h3>
                        <p>Je m’appelle Terry BIGOUNDOU, j’ai 31 ans et je vis en Meurthe-Et-Moselle depuis quelques années. En 2019, j’ai l’idée un peu folle de me lancer comme photographe de mariage et plus généralement photographe de tous les événements familiaux. En 2020, je saute le pas et décide me lancer.</p>
                    </div>
                    <div class="contentBis">
                        <h3 class="titre_apropos">LA PHOTO, UN LOISIR, UNE PASSION</h3>
                        <p>J’ai débuté la photo en 2013, à l’occasion d’une année d’étude en Suède. J’ai tout de suite été fasciné par cette nature préservée et les opportunités de photos que la Scandinavie offre. De retour en France avec des images plein la tête et mes cartes mémoires, j’ai poursuivi mon apprentissage de la photographie.</p>
                    </div>
                </div>
            </div>

<section class="bloc_questions">  
                <h1>QUESTIONS FRÉQUENTES</h1>
                <div class="accordion">
                    <div class="contentBx">
                        <div class="label"><i class="fas fa-phone-alt"></i>COMBIEN DE TEMPS A L'AVANCE FAUT-IL RESERVER?</div>
                        <div class="content">
                            <p>Pour les mariages, je vous conseille de réserver plusieurs mois à l'avance pour vous assurer de ma disponibilité. Si vous êtes en retard, vous pouvez également me contacter pour un mariage dans 15 jours. Je sais également travailler dans l'urgence.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="contentBx">
                        <div class="label"><i class="far fa-images"></i>COMMENT SE PASSE LE TRI DES PHOTOS?</div>
                        <div class="content">
                            <p>Je sélectionne toutes les meilleures photos. Pour un mariage vous en aurez plusieurs centaines.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="contentBx">
                        <div class="label"><i class="fas fa-thumbs-down"></i>POURQUOI JE N'AIME PAS LES PHOTOS "POSÉES"?</div>
                        <div class="content">
                            <p>Je considère qu'une photo spontanée est plus sincère et retranscrit l'émotion du moment où elle a été prise. Faire trop poser un couple, c'est l'assurance de photos peu naturelles. Je préfère qu'ils soient eux-mêmes, les images sont ainsi bien plus belles.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="contentBx">
                        <div class="label"><i class="fas fa-question-circle"></i>PEUT-ON OBTENIR DE BELLES PHOTOS SI ON N'A PAS L'HABITUDE DE POSER?</div>
                        <div class="content">
                            <p>Bien sûr, il n'est pas nécessaire de savoir poser pour que les photos soient belles. Ma mission, au delà des prises de vue, consistera à vous mettre à l'aise pour que vous soyez vous même.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="contentBx">
                        <div class="label"><i class="fas fa-camera"></i>QUEL MATÉRIEL J'UTILISE?</div>
                        <div class="content">
                            <p>On dit toujours que ce n'est pas la l'appareil photo qui fait la belle photo. C'est vrai... mais çà aide. Je travaille toujours avec deux boîtiers réflex Canon, plusieurs objectifs à focales fixes et un bon lot de batteries et cartes  mémoires. Avec tout çà, pas d'imprévu!</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="contentBx">
                        <div class="label"><i class="fas fa-laptop"></i>TRAITEMENT NUMÉRIQUE DE CHAQUE IMAGE</div>
                        <div class="content">
                            <p>Toutes mes photos passent par une phase de post-traitement. Pour faire simple, j'ajuste des contrastes, quelques couleurs, je passe parfois une image en noir et blanc. Mais vos images ne seront pas triturées pendant des heures sur Photoshop. Elles retranscriront fidèlement les beaux souvenirs que vous gardez des moments photographiés.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="contentBx">
                        <div class="label"><i class="fas fa-car"></i>FRAIS DE DÉPLACEMENTS?</div>
                        <div class="content">
                            <p>Mes tarifs incluent mon déplacement dans un rayon de 100km autour de mon domicile(Nancy). AU-delà, il faudra me contacter, le supplément dépendra du moyen de transport que je devrais utiliser.</p>
                        </div>
                    </div>
                </div>  


                <h1>POURQUOI ME FAIRE CONFIANCE ?</h1>
                <div class="accordion">
                    <div class="contentBx">
                        <div class="label"><i class="fas fa-birthday-cake"></i>POUR ÊTRE SÛR D'AVOIR A JAMAIS DE BELLES PHOTOS DES MOMENTS QUI COMPTENT</div>
                        <div class="content">
                            <p>Je sélectionne toutes les meilleures photos. Pour un mariage vous en aurez plusieurs centaines.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="contentBx">
                        <div class="label"><i class="fas fa-heart"></i>JE FAIS LA PHOTOS PAR PLAISIR</div>
                        <div class="content">
                            <p>Ce travail demande un investissement important et il faut vivre chaque instant pour les capturer au mieux. Votre personnalité, votre style, l'organisation de votre évènement, votre décoration et mille autres petits détails m'inspireront et vous permettront d'avoir des photos uniques, à votre image.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="contentBx">
                        <div class="label"><i class="fas fa-binoculars"></i>JE NE SUIS PAS UN PAPARAZZI</div>
                        <div class="content">
                            <p>Je suis d'un naturel discret et çà se ressent dans la façon dont je prends mes photos. Concrètement, je suis respectueux de chaque instant et j'essaie de perturber le moins possible ce qu'il se passe. Pas question d'utiliser mon flash lors de la cérémonie à l'église ou de vous interrompre lorsque vous parlez à vos proches pour obtenir une photo.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="contentBx">
                        <div class="label"><i class="fas fa-american-sign-language-interpreting"></i>J'AI LES PIEDS SUR TERRE</div>
                        <div class="content">
                            <p>Lors d'une séance, d'un  mariage, il faut mieux faire confiance à quelqu'un qui reste serein en toute circonstance. Le tout se fait bien entendu dans le calme et la bonne humeur, du matin au soir. </p>
                        </div>
                    </div>
                </div>  

                    <script>
        const accordion = document.getElementsByClassName('contentBx');
        for(i = 0; i<accordion.length; i++){
            accordion[i].addEventListener('click',function(){
                this.classList.toggle('active')
            })
        }
    </script>
    </section>

        </div>
{% endblock %}