*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}

/* accueil */
.words{
    text-align: center;
    line-height: 25px;
    margin-top: 87px;
    margin-bottom: 67px;
}
.titre{
    text-align: center;
}
.bloc_1{
    background-color: black;
    background-image: url(../uploads/images/sortie_de_mairie.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
}
.bloc_2 > h3, .bloc_4 > h3, .bloc_6 > h3{
    margin-top: 30px;
}
.bloc_3{
    background-color: black;
    background-image: url(../uploads/images/temoins.jpg);
    background-size:100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 30px;
}
.bloc_5{
    background-color: black;
    background-image: url(../uploads/images/couple1.jpg);
    background-size:100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 30px;
}
.bloc_7{
    background-color: black;
    background-image: url(../uploads/images/bebe.jpg);
    background-size:100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 30px;
}
.bloc_8{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.black_background{
    color: #fff;
    text-align: center;
}
.paragraphe_accueil, .en_savoir_plus{
    padding: 10px;
}
p{
    text-align: justify;
}
.contact-form-ac{
    display: flex;
    justify-content: end;
    margin-top: 5px;
}
.contact-form-accueil{
    display: flex;
    justify-content: center;
}
.contact-form-tarif{
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content:center;

}
.contact-form-presta{
    display: flex;
    justify-content: center;
}
.contact-form-btn-ac{
    background: #34495e;
    color: #fff;
    padding: 12px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn-ac:hover{
    background-color: #2980b9;
}
.btn-default{
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    color: #17C3B2;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
}
#top{
    padding: 5px;
    font-weight: bold;
}
/* fin accueil */

/* prestations */
.titre_presta{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.prestaPhoto{
    text-align: center;
    margin-top: 87px;
}
.p_presta{
    margin-left: 5%;
    margin-right: 5%;
}
#para_presta{
    padding-bottom: 20px;
}
.photos_presta{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;

}
.photos_presta img{
    border-radius: 5px;
}
.p_presta_1{
    max-width: 350px;
    padding: 5px;
}
.p_presta_2{
    max-width: 350px;
    padding: 5px;
}
.p_presta_3{
    max-width: 350px;
    padding: 5px;
}
.autres_presta{
    padding-bottom: 20px;
}
.bloc_8{
    background-color: black;
}
.black_background{
    color: #fff;
    padding: 5px;
}


.slide-container{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    overflow: hidden !important;
    background: linear-gradient(to right, rgb(255,65,108), rgb(255,75,43));
    position: relative;
}

.image-slider{
    max-width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}
.slides-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
    position: relative;
}
.img{
    position: relative;
    width: 240px;
    height: 370px;
    transition: .5s;
    filter: saturate(10%);
    object-fit: contain;
}
.button{
    position: absolute;
    width: 240px;
    height: 370px;
    transition: .5s;
    background-color: rgb(0, 0, 0, .4) ;
}
.button:hover{
    background-color: rgb(0, 0, 0, .2) ;
}
#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~ .image-slider #button-6{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~ .image-slider #button-7{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span1:target ~ .image-slider {left: 70%;}
#slider-span2:target ~ .image-slider {left: 50%;}
#slider-span3:target ~ .image-slider {left: 25%;}

#slider-span5:target ~ .image-slider {left: -25%;}
#slider-span6:target ~ .image-slider {left: -50%;}
#slider-span7:target ~ .image-slider {left: -70%;}


@media(max-width:1100px){
    .photos_presta{
        flex-wrap: wrap;
    }
}
/* fin prestations */

/* tarifs */

.p_tarifs{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}
.tarifs{
    margin-top: 87px;
}
.titre_tarifs{
    text-align: center;
    margin-bottom: 25px;
}
.threeCards{
    margin: 50px auto;
    display: flex;
    justify-content: space-around; 
    box-shadow : 5px 10px 0.5em 0.5em grey;
    transition: all 0.5s ease-in;
}
.threeCards:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.full{
    margin: 20px;
    width: 350px;
    position: relative;
    transition: 0.2s ease-in;
    box-shadow: 0px 10px 30px black;
    transition: all 0.5s ease-in;
    padding-bottom: 20px;
}
.full:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#spanPrix, .price{
    text-align: center;
}
.details{
    text-align: center;
    margin: 10px;
}
.details:hover{
    background-color: #22A7F0;
    color: white;
}

.les_details{
    width: 300px;
    height:390px ;
    transition: all 0.2s ease-in;
    padding: 5px;  
    margin-left: auto;
    margin-right: auto;
}

.formulaire{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#flexContainer{
    display: flex;
    flex-wrap: wrap;
}

@media(max-width:990px){
    .threeCards{
        flex-wrap: wrap;
        justify-content: center;  
    }
}

/* fin tarifs */

/* portfolio */
.inscript{
    margin-right: 5px;
}
.titre-port{
    margin-top: 87px;
}
.titre-port, .p-port{
    margin-right: 5%;
    margin-left: 5%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0px 20px;
}
.container .heading{
     width: 50%;
     padding-bottom: 50px;
}
.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}
.container .heading h3 span{
    font-weight: 100;
}
.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

@media only screen and (max-width: 643px){
    .container .heading{
        width: 100%;
   }
   .container .heading h3{
       font-size: 1em
   }
}

/* fin portfolio */

/* à propos */
.qui_suis_je{
    margin-top: 87px;
}
.fas, .fa-images{
    margin-right: 10px;
}
.titre_apropos{
    margin-bottom: 10px;
}
.box{
    display: flex;
    width: 80%;
}
.contentBis{
    margin: 10px;
    padding: 10px;
}


/*ACCORDION*/
.bloc_questions{
    padding-top: 10px;
    padding-bottom: 50px;
    display:flex;
    align-items: center;
    flex-direction: column;
    min-height: 130vh;
}
.bloc_questions h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}
.accordion{
    width: 80%;
}
.accordion .contentBx{
    position: relative;
    margin: 10px 20px;
}
.accordion .contentBx .label{
    position: relative;
    padding: 10px;
    background: #34495e;
    box-shadow: 10px 5px 5px grey;
    color: #fff;
    cursor: pointer;
}
.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;

}
.accordion .contentBx.active .label::before{
    content: '-';
}
.accordion .contentBx .content{
    position: relative;
    background: #fff;
    box-shadow: 10px 5px 5px black;
    border-bottom-right-radius: 10px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y:auto;
}
.accordion .contentBx.active .content{
    height: 150px;
    padding: 10px;
}

@media(max-width:800px){
    .box{
        flex-wrap: wrap;
    }
}
/* fin à propos */

/* header */
.header{
    display: flex;
    justify-content: space-between;
    background-color: #227C9D; 
    align-items: center;
}
nav{
    display: flex;
    height: 45px;
    justify-content: space-between;
    background-color: #227C9D; 
}
nav .mainMenu{
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding: 10px;
    text-transform: uppercase;
}
nav .mainMenu a{
    text-decoration: none;
    color: #fff;
}
.mon_logo{
    border-radius: 50px;
    object-fit: contain;
    margin-left: 10px;
}
.fa-bars{
    color: #fff;
    font-size: 35px;
}
.fa-xmark{
    color: #fff;
    font-size: 35px;
}
@media(min-width:1000px){

    nav .openMenu, .closeMenu, .icons{
        display: none !important;
    }

    .fa-bars{
        display: none;
        font-size: 35px;
    }
}
@media(max-width:1100px){

    nav .mainMenu{
        height: 100vh;
        position:fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #227C9D;
        opacity: 1;
        transition:top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu{
        display: block !important;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    nav .openMenu{
        display: block;
        cursor: pointer;
    }
}
/* fin header */

/* footer */
footer{
    background-color: #227C9D; 
}
.navFooter{    
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
.navFooter a{
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}
.droits{
    font-size: small;
    color: #fff;
}
/* fin footer */

/* profil */
.profil{
    padding: 30px;
}
.utilisateur{
    text-align: center;
}
.persona{
    font-weight: bold;
}
.identite{
    margin-top: 50px;
    margin-bottom: 50px;
}

.picture_box{    
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/* fin profil */


/* connexion */
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    margin-bottom: 120px; 
}
.titre-connexion{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    border: 2px solid grey;
    background-color: #fff;

    padding: 20px 40px;
    outline: none;
    color: #000;
    transition: 0.5s;
}
.contact-form-text:hover{
    box-shadow: 0 0 10px 4px #34495e;
}
.myEmail{
    display: flex;
}
/* fin connexion */

/* contact */
.page-contact{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    font-weight: bold;
}
.border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}
/* fin contact */

/* admin */
.art-admin{
    margin-left: 10%;
    margin-right: 10%;
}
.titre-tb-users{
    margin-top: 40px;
}
/* fin admin */