<footer>
    <div class="foo">
        <ul class="navFooter">
            <a href="#">
                <li class="logotypes">
                    <i class="fa-brands fa-facebook" style="color:#1228ED"></i>
                    <i class="fa-brands fa-instagram" style="color:#ED1212"></i>
                    <i class="fa-brands fa-linkedin" style="color:#fff"></i>
                    <i class="fa-brands fa-github" style="color:#000"></i>
                </li>
            </a>
            <a href="#" class="droits"><li>Tous droits réservés</li></a>
        </ul>
        {# redirection vers le haut #}
        <a href="#top" class="btn-default"><i class="fa-solid fa-arrow-up fa-2xl"></i></a>
    </div>
</footer>

